.form__close {
    transform: scale(0);
}


.form-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-color: #0003;
    backdrop-filter: blur(2px);
    display: grid;
    place-content: center;
    transition: transform 150ms ease;
}
.form {
    width: 100%;
    max-width: 400px;
    background-color: white;
    padding: 2em 1.5em 2.5em;
    border-radius: 0.8em;
    display: grid;
    gap: 0.7em;
    position: relative;
}
.form__title {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.3 em;
    font-weight: 500;
    font-size: 1.3rem;
}
.form__exit {
    color: red;
    position:absolute;
    font-size: 1.3rem;
    top: 0.8em;
    right: 1.2em;
    cursor: pointer;
    aspect-ratio: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2em;
}
.form__label {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}
.form__field {
    font-size: 0.9rem;
    font-weight: 300;
    padding-left: 1em;
}
.form__field__value {
    display: block;
    border: 1px solid #aaa;
    border-radius: 0.5em;
    padding: 0.5em 1.2em;
    font-weight: 400;
    width: 20em;
}
.form__btn {
    margin-top: 1.5em;
    font-size: 1rem;
    padding: 0.3em 1em;
    background-color: #555A88;
    border: none;
    border-radius: 0.5em;
    color: white;
    &:hover {
        filter: brightness(1.2);
    }

}