* {
  box-sizing: border-box;
}
html {
  font-family: 'Times New Roman', Times, serif;
}
body {
  margin: 0;

}
h1,h2,h3,p,ul,hr {
  margin-top: 0;
  margin-bottom: 0;
}
ul {
  list-style: none;
  padding-left: 0;
}
button {
  cursor: pointer;
  font-family: inherit;
}
input {
  outline: none;
  font-family: inherit;
}